DOMAIN=__DOMAIN__
HYPERCORN_BIND=__APP_BIND_HOST__:__APP_BIND_PORT__
TURN_USER=__TURN_USER__
TURN_PASS=__TURN_PASS__
TURN_USERNAME=__TURN_USER__
TURN_PASSWORD=__TURN_PASS__
TURN_URL=__TURN_URL__
TURNS_URL=__TURNS_URL__
AI_FALLBACK=true
